### Heroes Of Pymoli Data Analysis
* Of the 1163 active players, the vast majority are male (84%). There also exists, a smaller, but notable proportion of female players (14%).

* Our peak age demographic falls between 20-24 (44.8%) with secondary groups falling between 15-19 (18.60%) and 25-29 (13.4%).  
-----

### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
file = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file)

## Player Count

In [2]:
purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

* Display the total number of players

In [3]:
count = len(purchase_data["SN"].unique())
print(f"Total Number of Players: {count}")

Total Number of Players: 576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [4]:
unique_items = len(purchase_data["Item ID"].unique())
avg_price = round(purchase_data["Price"].mean(), 2)
purchase_total = len(purchase_data["Purchase ID"])
revenue = (purchase_data["Price"].sum())

In [5]:
purchase_analysis = pd.DataFrame({ "Number of Unique Items" : [unique_items],
                                     "Average Price" : [avg_price], 
                                     "Number of Purchases" : [purchase_total],
                                     "Total Revenue" : [revenue]})
purchase_analysis

   Number of Unique Items  Average Price  Number of Purchases  Total Revenue
0                     183           3.05                  780        2379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [6]:
new_df = purchase_data.drop_duplicates(subset="SN",keep="first")

gen_df = new_df.groupby('Gender')

t_count = len(new_df["Gender"])

male = gen_df.get_group('Male')

male_count = len(male)

female = gen_df.get_group('Female')

female_count = len(female)

other = gen_df.get_group('Other / Non-Disclosed')

other_count = len(other)


male_percentage = round((male_count / t_count) * 100, 2)

female_percentage = round((female_count / t_count) * 100, 2)

other_percentage = round((other_count / t_count) * 100, 2)


gender_table = pd.DataFrame({ '': ['Male', 'Female', 'Other / Non-Disclosed'],
                            'Total Count' : [male_count, female_count, other_count],
                            'Percentage of Players' : [male_percentage, female_percentage, other_percentage]})

gender_table

                          Total Count  Percentage of Players
0                   Male          484                  84.03
1                 Female           81                  14.06
2  Other / Non-Disclosed           11                   1.91


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [7]:
genders_df = purchase_data.groupby('Gender')

female = genders_df.get_group('Female')

female_c = len(female)

male = genders_df.get_group('Male')

male_c = len(male)

other = genders_df.get_group('Other / Non-Disclosed')

other_c = len(other)

comparison = genders_df["Price"].sum()

female_v = comparison['Female']

male_v = comparison['Male']

other_v = comparison['Other / Non-Disclosed']

average = round(genders_df["Price"].mean(), 2)

female_a = average['Female']

male_a = average['Male']

other_a = average['Other / Non-Disclosed']

female_r = round((comparison['Female']/ female_count).sum(), 2)

male_r = round((comparison['Male']/male_count).sum(), 2)

other_r = round((comparison['Other / Non-Disclosed']/other_count).sum(), 2)


genders_analysis = pd.DataFrame({ '': ['Female', 'Male', 'Other / Non-Disclosed'],
                            'Purchase Count' : [female_c, male_c, other_c],
                            'Average Purchase Price' : [female_a, male_a, other_a],
                            'Total Purchase Value' : [female_v, male_v, other_v],
                            'Avg Total Purchase per Person' : [female_r, male_r, other_r]})

genders_analysis

,,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
0,Female,113,3.20,361.94,4.47
1,Male,652,3.02,1967.64,4.07
2,Other / Non-Disclosed,15,3.35,50.19,4.56

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [8]:
a_bin = [0, 9, 14, 19, 24, 29, 34, 39, 50]

g_n = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]


purchase_data["Age Groups"] = pd.cut(purchase_data["Age"],a_bin, labels=g_n)

age_g = purchase_data.groupby("Age Groups")

total_c_a = age_g["SN"].nunique()

player_age = (total_c_a/t_count) * 100


average_total = pd.DataFrame({"Total Count": total_c_a, "Percentage of Players": player_age})

average_total.index.name = None

average_total.style.format({"Percentage of Players":"{:,.2f}"})

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [9]:
p_c_a = age_g["Purchase ID"].count()

a_p = age_g["Price"].mean()

t_p_v = age_g["Price"].sum()

a_p_p_a = t_p_v/total_c_a

age_analysis = pd.DataFrame({"Purchase Count": p_c_a,

                                 "Average Purchase Price": a_p,

                                 "Total Purchase Value":t_p_v,

                                 "Average Purchase Total per Person": a_p_p_a})

age_analysis.index.name = None


age_analysis.style.format({"Average Purchase Price":"${:,.2f}",

                               "Total Purchase Value":"${:,.2f}",

                               "Average Purchase Total per Person":"${:,.2f}"})

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [10]:
spenders_s = purchase_data.groupby("SN")

purchase_ct_s = spenders_s["Purchase ID"].count()

average_purchase_s = spenders_s["Price"].mean()

purchase_total_s= spenders_s["Price"].sum()


top_spender = pd.DataFrame({"Purchase Count": purchase_ct_s,

                             "Average Purchase Price": average_purchase_s,

                             "Total Purchase Value":purchase_total_s})


spenders_format = top_spender.sort_values(["Total Purchase Value"], ascending=False).head()


spenders_format.style.format({"Average Purchase Total":"${:,.2f}",

                                 "Average Purchase Price":"${:,.2f}",

                                 "Total Purchase Value":"${:,.2f}"})

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [11]:
item = purchase_data[["Item ID", "Item Name", "Price"]]

item_stats = item.groupby(["Item ID", "Item Name"])

purchase_value = item_stats["Price"].sum()

purchase_count = item_stats["Price"].count()

item_price = purchase_value/purchase_count


purchase_df = pd.DataFrame({"Purchase Count" : purchase_count,

                          "Item Price" : item_price,

                          "Total Purchase Value" : purchase_value})


purchase_f = purchase_df.sort_values(["Purchase Count"], ascending=False).head()


purchase_f.style.format({"Item Price":"${:,.2f}",

                                "Total Purchase Value":"${:,.2f}"})

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [12]:
purchase_f = purchase_df.sort_values(["Total Purchase Value"],

                                                   ascending=False).head()

purchase_f.style.format({"Item Price":"${:,.2f}",

                                "Total Purchase Value":"${:,.2f}"})

In [ ]:
#Trend 1- "Oathbreaker, Last Hope of the Breaking Storm", held the highest total puchase value of $50.76.
#Trend 2- The age group of 40 and older had the lowest purchase value, $38.24; they also had the lowest total count of players.
#Trend 3- Males are the gender with the highest percentage of players at 84.03%.